/* mobile styles
/* base styles */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
}

ul {
  display: flex;
}

li {
  list-style: none;
  display: flex;
}

button {
  background-color: rgb(95, 17, 240);
  color: white;
  margin: 5px;
  padding: 6px;
  border-radius: 5px;
  border-color: none;
} */

/* layout style */

/* .nav_links {
  margin: 6px;
} */

/* block styles */

/* desktop styles */
/* @media (min-width: 550px) {
}  */
